---
import Layout from "../../layouts/Layout.astro";
import ALink from "../../components/ALink.astro";

const alphabet = [
  "A",
  "B",
  "C",
  "D",
  "E",
  "F",
  "G",
  "H",
  "I",
  "J",
  "K",
  "L",
  "M",
  "N",
  "O",
  "P",
  "Q",
  "R",
  "S",
  "T",
  "U",
  "V",
  "W",
  "X",
  "Y",
  "Z",
];
---

<Layout title="Search by meal">
  <main>
    {
      alphabet.map((letter) => (
        <ALink href={`/meal/first-letter/${letter}`}>{letter}</ALink>
      ))
    }
  </main>
</Layout>
