---
interface Props {
  href: string | null;
  target?: "_blank" | null;
  hidden?: string | null;
}

const { href, target, hidden } = Astro.props;
---

<a
  href={href}
  target={target}
  class="text-lg hover:text-rose-600 transition-colors"
  class:list={["text-lg hover:text-rose-600 transition-colors", hidden]}
  aria-label={href}
>
  <slot />
</a>
