---
import { Image } from "astro:assets";

interface Props {
  img: string;
  category: string;
}

const { img, category } = Astro.props;
---

<article class="text-center w-fit text-2xl">
  <a href={`/category/${category}`}>
    <img src={img} alt={category} class="rounded-3xl" />
    {category}
  </a>
</article>
