---
---

<header class="text-center py-3">
    <h1 class="text-5xl py-2">Test Header</h1>
    <nav class="flex flex-row justify-center gap-20 max-md:flex-col max-md:gap-5">
        <a href="#">Recipes Category</a>
        <a href="#">Search Recipes</a>
        <a href="#">Random Recipe</a>
    </nav>
</header>